AUTHENTIK_SECRET_KEY=replace_with_long_random_secret
AUTHENTIK_POSTGRESQL_HOST=postgres
AUTHENTIK_POSTGRESQL_PORT=5432
AUTHENTIK_POSTGRESQL_USER=postgres
AUTHENTIK_POSTGRESQL_NAME=authentik
AUTHENTIK_POSTGRESQL_PASSWORD=change_me
