# Shared infrastructure variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

# Databases created by init script
DTIME_DB_NAME=dtime
AUTHENTIK_DB_NAME=authentik

# Authentik
AUTHENTIK_SECRET_KEY=replace_with_long_random_secret
