<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Dtime</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/pub/bootstrap-4.1.0/css/bootstrap.min.css"/>
</head>
<body>


<div class="container">
    <div class="row justify-content-md-center">
        <img src="/pub/images/logo_blue.png" alt="D-Time" class="img-responsive center-block"
             style="width: 50%; height: 50%"/>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <form th:action="@{/perform_login}" method="post">
                <h2 class="text-center">Login</h2>
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Email" required="required"/>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password"
                           required="required"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div th:if="${param.error}">
                <p style="color:red;">Invalid username or password.</p>
            </div>
            <div th:if="${param.logout}">
                <p style="color:red;">You have been logged out.</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/pub/bootstrap-4.1.0/js/bootstrap.min.js"/>

</body>
</html>
