name: Rebase Dependabot PRs
on:
  workflow_dispatch:

jobs:
  rebase-dependabot:
    runs-on: ubuntu-latest
    steps:
      - name: Rebase all Dependabot PRs
        uses: peter-evans/rebase@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          include-labels: dependencies
